In [1]:
import pandas as pd
import numpy as np
import joblib

In [18]:
pip install lightgbm

Collecting lightgbm
  Downloading lightgbm-3.3.1-py3-none-win_amd64.whl (1.0 MB)
Requirement already satisfied: numpy in c:\users\sammy\appdata\roaming\python\python36\site-packages (from lightgbm) (1.19.5)
Requirement already satisfied: scipy in c:\programdata\anaconda3\lib\site-packages (from lightgbm) (1.5.2)
Requirement already satisfied: wheel in c:\users\sammy\appdata\roaming\python\python36\site-packages (from lightgbm) (0.36.2)
Requirement already satisfied: scikit-learn!=0.22.0 in c:\programdata\anaconda3\lib\site-packages (from lightgbm) (0.23.2)
Requirement already satisfied: joblib>=0.11 in c:\programdata\anaconda3\lib\site-packages (from scikit-learn!=0.22.0->lightgbm) (1.0.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\programdata\anaconda3\lib\site-packages (from scikit-learn!=0.22.0->lightgbm) (2.1.0)
Installing collected packages: lightgbm
Successfully installed lightgbm-3.3.1
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 21.0.1; however, version 21.3.1 is available.
You should consider upgrading via the 'C:\ProgramData\Anaconda3\python.exe -m pip install --upgrade pip' command.

In [2]:
# read S3 feature data
X3_similarity = np.load('../FeatureExtracting/stage3_similarity_feature.npy')
X3_appearance = np.load('../FeatureExtracting/stage3_appearance_feature.npy')

In [3]:
X3_appearance = np.delete(X3_appearance, 1529, 1)
X3_appearance = np.delete(X3_appearance, 764, 1)

In [4]:
# read in feature data
X3 = np.concatenate((X3_similarity, X3_appearance), axis=1)
X3.shape

(175980, 1537)

In [5]:
X3[0]

array([0.13333333, 0.1       , 0.07142857, ..., 0.        , 0.        ,
       0.        ])

In [6]:
# read in feature data
features3_csv = pd.read_csv("../FeatureExtracting/stage3_similarity_features.csv")

In [7]:
features3_csv

,Test,Reference,Similarity,jaccard_once_keyword,jaccard_multi_keyword,tf_cosine_appearance,tfidf_cosine_appearance,tf_cosine_times,tfidf_cosine_times,Sim_Hash_Similarity,Min_Similarity
0,100,1002,0.133333,0.1,0.071429,0.133333,0.038855,0.123603,0.047808,0.33,0.000000
1,100,1003,0.066667,0.0,0.052632,0.115470,0.019133,0.099177,0.018642,0.26,0.164062
2,100,101,0.133333,1.0,0.105263,0.210819,0.106684,0.364363,0.144300,0.15,0.132812
3,100,1013,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.32,0.000000
4,100,1017,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.35,0.000000
...,...,...,...,...,...,...,...,...,...,...,...
175975,995,981,0.142857,0.0,0.045455,0.094491,0.022252,0.552917,0.210549,0.14,0.445312
175976,995,982,0.285714,0.1,0.100000,0.195180,0.100620,0.222871,0.072412,0.26,0.000000
175977,995,983,0.142857,0.0,0.100000,0.188982,0.055576,0.386444,0.129999,0.33,0.093750
175978,995,989,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.22,0.078125
175979,995,99,0.285714,0.5,0.222222,0.377964,0.308203,0.592711,0.332002,0.22,0.078125

In [8]:
# take only article pair orders
article_pairs = features3_csv[["Test", "Reference"]]
article_pairs

        Test  Reference
0        100       1002
1        100       1003
2        100        101
3        100       1013
4        100       1017
...      ...        ...
175975   995        981
175976   995        982
175977   995        983
175978   995        989
175979   995         99

[175980 rows x 2 columns]

In [9]:
# turn X3 features to frame
X3_df = pd.DataFrame(X3)
X3_df

,0,1,2,3,4,5,6,7,8,9,...,1527,1528,1529,1530,1531,1532,1533,1534,1535,1536
0,0.133333,0.1,0.071429,0.133333,0.038855,0.123603,0.047808,0.33,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.066667,0.0,0.052632,0.115470,0.019133,0.099177,0.018642,0.26,0.164062,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.133333,1.0,0.105263,0.210819,0.106684,0.364363,0.144300,0.15,0.132812,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.32,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.35,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
175975,0.142857,0.0,0.045455,0.094491,0.022252,0.552917,0.210549,0.14,0.445312,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
175976,0.285714,0.1,0.100000,0.195180,0.100620,0.222871,0.072412,0.26,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
175977,0.142857,0.0,0.100000,0.188982,0.055576,0.386444,0.129999,0.33,0.093750,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
175978,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.22,0.078125,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
175979,0.285714,0.5,0.222222,0.377964,0.308203,0.592711,0.332002,0.22,0.078125,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [10]:
# join the article times & similarity times features with article pairs
joined_df = pd.merge(article_pairs, X3_df, left_index=True, right_index=True)
joined_df

,Test,Reference,0,1,2,3,4,5,6,7,...,1527,1528,1529,1530,1531,1532,1533,1534,1535,1536
0,100,1002,0.133333,0.1,0.071429,0.133333,0.038855,0.123603,0.047808,0.33,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,100,1003,0.066667,0.0,0.052632,0.115470,0.019133,0.099177,0.018642,0.26,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,100,101,0.133333,1.0,0.105263,0.210819,0.106684,0.364363,0.144300,0.15,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,100,1013,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.32,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,100,1017,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.35,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
175975,995,981,0.142857,0.0,0.045455,0.094491,0.022252,0.552917,0.210549,0.14,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
175976,995,982,0.285714,0.1,0.100000,0.195180,0.100620,0.222871,0.072412,0.26,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
175977,995,983,0.142857,0.0,0.100000,0.188982,0.055576,0.386444,0.129999,0.33,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
175978,995,989,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.22,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
175979,995,99,0.285714,0.5,0.222222,0.377964,0.308203,0.592711,0.332002,0.22,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [11]:
# read in the best results
xgb_df = pd.read_csv("csv_results/3_XGBOOST.csv")
xgb_df

     Test  Reference
0     101        487
1     101        496
2     101        502
3     101         53
4     101         61
..    ...        ...
967   995        842
968   995        900
969   995        914
970   995        920
971   995        974

[972 rows x 2 columns]

In [12]:
# join back features from the best csv result
final_df = pd.merge(xgb_df, joined_df, on=["Test", "Reference"], how="left")
final_df

,Test,Reference,0,1,2,3,4,5,6,7,...,1527,1528,1529,1530,1531,1532,1533,1534,1535,1536
0,101,487,0.833333,0.000000,0.500000,0.680414,0.641479,0.786033,0.702454,0.21,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,101,496,0.833333,0.000000,0.357143,0.566139,0.508676,0.707716,0.736986,0.24,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,101,502,0.833333,0.000000,0.263158,0.481125,0.440961,0.557571,0.534310,0.24,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,101,53,0.833333,0.000000,0.161290,0.372678,0.319508,0.731215,0.545087,0.22,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,101,61,0.833333,0.000000,0.161290,0.372678,0.319508,0.839138,0.688749,0.25,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
967,995,842,1.000000,0.071429,0.269231,0.518875,0.390723,0.525609,0.336379,0.24,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
968,995,900,0.857143,1.000000,0.666667,0.801784,0.770549,0.812839,0.768995,0.21,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
969,995,914,1.000000,1.000000,0.777778,0.881917,0.830533,0.918106,0.864806,0.27,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
970,995,920,1.000000,2.000000,0.875000,0.935414,0.914944,0.946510,0.921681,0.07,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
971,995,974,1.000000,1.000000,0.700000,0.836660,0.779848,0.817159,0.639370,0.25,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [13]:
# get the numpy features of the best results 
X3_bests = final_df.copy()
del X3_bests["Test"]
del X3_bests["Reference"]
X3_bests_np = X3_bests.to_numpy()
X3_bests_np

array([[0.83333333, 0.        , 0.5       , ..., 0.        , 0.        ,
        0.        ],
       [0.83333333, 0.        , 0.35714286, ..., 0.        , 0.        ,
        0.        ],
       [0.83333333, 0.        , 0.26315789, ..., 0.        , 0.        ,
        0.        ],
       ...,
       [1.        , 1.        , 0.77777778, ..., 0.        , 0.        ,
        0.        ],
       [1.        , 2.        , 0.875     , ..., 0.        , 0.        ,
        0.        ],
       [1.        , 1.        , 0.7       , ..., 0.        , 0.        ,
        0.        ]])

In [14]:
len(X3_bests_np[0])

1537

In [15]:
len(X3_bests_np)

972

In [16]:
# write to a numpy file
with open("X3_xgb3_lgbm3.npy", "wb") as f:
    np.save(f, X3_bests_np)

In [21]:
Y3= np.array([1., 1., 1., 1., 1., 1., 1., 0., 0., 0., 0., 1., 0., 1., 1., 1., 0.,
       0., 0., 1., 1., 1., 0., 0., 1., 1., 0., 0., 1., 1., 1., 1., 0., 1.,
       0., 1., 1., 1., 1., 1., 0., 1., 0., 1., 0., 1., 0., 1., 0., 1., 0.,
       0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 1., 1., 1., 1.,
       1., 1., 0., 1., 1., 1., 1., 1., 0., 1., 1., 1., 1., 1., 0., 1., 1.,
       0., 0., 1., 1., 1., 1., 1., 1., 1., 1., 1., 0., 0., 1., 1., 0., 0.,
       0., 1., 1., 1., 1., 0., 1., 0., 0., 1., 0., 0., 0., 0., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 0., 0., 1., 0., 1., 0., 1., 1., 1., 0., 0.,
       0., 1., 0., 1., 0., 0., 1., 0., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 0., 0., 1., 1., 1., 1., 1., 1., 1., 0., 0., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 0., 0., 0., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 0., 0., 0., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 0.,
       1., 1., 1., 0., 1., 0., 1., 0., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 0., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 0., 0., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 1., 1., 1., 1., 0., 0., 0., 1., 1., 1., 0.,
       1., 1., 1., 1., 1., 1., 1., 0., 0., 0., 0., 0., 1., 1., 1., 1., 0.,
       1., 0., 1., 1., 1., 1., 1., 1., 0., 1., 0., 1., 1., 1., 1., 1., 1.,
       0., 1., 0., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 0., 1., 1., 1.,
       1., 1., 1., 1., 1., 0., 1., 1., 1., 1., 1., 1., 1., 1., 0., 1., 0.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 0.,
       0., 0., 1., 1., 1., 1., 0., 1., 0., 1., 1., 1., 1., 1., 1., 1., 1.,
       0., 1., 0., 0., 1., 1., 1., 1., 1., 0., 1., 0., 1., 1., 1., 1., 1.,
       1., 1., 1., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0.,
       0., 0., 0., 0., 1., 1., 0., 0., 0., 0., 1., 0., 0., 0., 1., 0., 0.,
       0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 1., 1., 0.,
       0., 0., 0., 1., 1., 1., 1., 0., 0., 1., 1., 0., 1., 0., 0., 0., 0.,
       0., 1., 1., 1., 0., 1., 0., 1., 0., 1., 0., 0., 0., 0., 1., 1., 1.,
       1., 0., 0., 1., 1., 0., 1., 1., 1., 0., 1., 1., 1., 0., 0., 0., 1.,
       0., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 0., 0., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 0., 1., 0., 1., 0., 0., 1., 1., 1., 0., 1.,
       0., 1., 0., 1., 1., 0., 1., 0., 1., 0., 1., 0., 1., 1., 1., 1., 1.,
       1., 0., 1., 1., 0., 0., 1., 0., 1., 1., 1., 1., 1., 1., 1., 1., 0.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 0., 1., 0.,
       1., 0., 1., 1., 1., 0., 1., 1., 1., 1., 1., 0., 0., 1., 1., 1., 1.,
       0., 1., 1., 0., 1., 1., 1., 0., 0., 0., 0., 1., 0., 0., 1., 1., 1.,
       0., 0., 1., 1., 1., 1., 0., 0., 1., 1., 1., 0., 1., 1., 1., 1., 1.,
       0., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 0., 1.,
       1., 1., 0., 1., 0., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 0., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 0., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 0., 1., 1.,
       1., 1., 1., 0., 1., 0., 1., 1., 0., 1., 0., 0., 0., 0., 1., 0., 1.,
       1., 0., 0., 0., 0., 0., 1., 0., 0., 1., 0., 1., 1., 0., 0., 0., 1.,
       1., 0., 0., 0., 1., 1., 0., 0., 0., 0., 0., 1., 0., 0., 1., 0., 1.,
       1., 0., 0., 0., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 0., 1., 1.,
       1., 0., 1., 1., 1., 1., 1., 0., 0., 1., 0., 1., 1., 0., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 0., 1., 1., 0., 0., 1., 0., 1., 0., 1.,
       1., 1., 0., 1., 1., 1., 1., 1., 1., 0., 0., 0., 1., 1., 1., 1., 0.,
       1., 1., 1., 1., 1., 1., 0., 0., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       0., 1., 1., 1., 1., 1., 0., 1., 1., 1., 1., 1., 0., 0., 0., 1., 0.,
       1., 1., 1., 1., 1., 0., 0., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 0., 1., 1., 1., 1., 1., 0., 0., 0., 0., 1., 0., 1., 0., 1.,
       1., 1., 1., 1., 0., 1., 1., 1., 1., 1., 0., 1., 1., 1., 0., 1., 0.,
       1., 0., 0., 0., 0., 0., 0., 1., 1., 1., 1., 0., 0., 0., 1., 0., 0.,
       0., 1., 0., 0., 1., 1., 1., 1., 1., 0., 1., 1., 1., 1., 1., 1., 0.,
       1., 1., 1.])

In [31]:
# write Y3
with open("Y3_lgbm3.npy", "wb") as f:
    np.save(f, Y3)

In [22]:
# read back the lightgbm results and change to dataframe
# lgb_np = np.load("Y3_best.npy")
lgb_df = pd.DataFrame(Y3)
lgb_df = lgb_df.rename({0: 'Relevance'}, axis=1)
lgb_df

     Relevance
0          1.0
1          1.0
2          1.0
3          1.0
4          1.0
..         ...
967        1.0
968        0.0
969        1.0
970        1.0
971        1.0

[972 rows x 1 columns]

In [23]:
# join back lightgbm results with xgboost results & do the filtem
best_pairs = final_df[["Test", "Reference"]]
pipe_df = pd.merge(best_pairs, lgb_df, left_index=True, right_index=True)
pipe_df

     Test  Reference  Relevance
0     101        487        1.0
1     101        496        1.0
2     101        502        1.0
3     101         53        1.0
4     101         61        1.0
..    ...        ...        ...
967   995        842        1.0
968   995        900        0.0
969   995        914        1.0
970   995        920        1.0
971   995        974        1.0

[972 rows x 3 columns]

In [25]:
pipe_df.loc[pipe_df['Relevance'] == 1][['Test', 'Reference']].to_csv("csv_results/xgb3_lgbm3_pipe.csv", index=False)

In [26]:
a_df = pipe_df.loc[pipe_df['Relevance'] == 1][['Test', 'Reference']]

In [27]:
a_df

     Test  Reference
0     101        487
1     101        496
2     101        502
3     101         53
4     101         61
..    ...        ...
966   995        837
967   995        842
969   995        914
970   995        920
971   995        974

[662 rows x 2 columns]

In [28]:
b_df = pd.read_csv("csv_results/xgb3_lgbm4_pipe.csv")

In [29]:
b_df

     Test  Reference
0     101        487
1     101        496
2     101        502
3     101         53
4     101         61
..    ...        ...
682   995        837
683   995        842
684   995        914
685   995        920
686   995        974

[687 rows x 2 columns]

In [30]:
pd.concat([a_df, b_df]).drop_duplicates(keep=False)

     Test  Reference
21   1035       1079
36   1059       1171
37   1059       1179
43    106       1377
45    106        396
..    ...        ...
561   584        355
589   735       1017
601   736        827
611   794        360
670   952        238

[151 rows x 2 columns]