In [1]:
import pandas as pd
import numpy as np

In [6]:
# read in best results & lost data
best_df = pd.read_csv("csv_results/3_XGBOOST.csv")
# read in model result to extract some lost data from them change the data model name (e.g. lgbm_model_2.csv)
result_df = pd.read_csv("csv_results/final_bests/lgbm_data/lgbm_model_9.csv")

In [7]:
label_df = pd.read_csv("TestStage3_AU.csv")
label_df

        Test  Reference  Similarity
0        100       1002    0.133333
1        100       1003    0.066667
2        100        101    0.133333
3        100       1013    0.000000
4        100       1017    0.000000
...      ...        ...         ...
175975   995        981    0.142857
175976   995        982    0.285714
175977   995        983    0.142857
175978   995        989    0.000000
175979   995         99    0.285714

[175980 rows x 3 columns]

In [8]:
lost_df = pd.merge(result_df.append(best_df).drop_duplicates(keep=False), label_df, on=["Test", "Reference"], how="left")

In [9]:
lost_df

     Test  Reference  Similarity
0     101       1043    0.833333
1     101        323    0.833333
2     101        729    0.833333
3    1035       1020    1.000000
4    1035         22    1.000000
..    ...        ...         ...
320   978        981    1.000000
321    98        971    0.750000
322   983        555    1.000000
323   995        560    0.857143
324   995        900    0.857143

[325 rows x 3 columns]

In [10]:
lost_df.to_csv("lgbm_lost_model9.csv", index=False)