In [1]:
import pandas as pd
import numpy as np

In [7]:
# read S3 feature data
X3_similarity_of_times = np.load('../FeatureExtracting/stage3_similarity_of_only_times.npy')
X3_times = np.load('../FeatureExtracting/stage3_times_feature.npy')

In [17]:
X3_times = np.delete(X3_times, 1529, 1)
X3_times = np.delete(X3_times, 764, 1)

In [18]:
# read in feature data
X3 = np.concatenate((X3_similarity_of_times, X3_times), axis=1)
X3.shape

(175980, 1534)

In [19]:
X3[0]

array([0.13333333, 0.07142857, 0.12360331, ..., 0.        , 0.        ,
       0.        ])

In [20]:
# read in feature data
features3_csv = pd.read_csv("../FeatureExtracting/stage3_similarity_features.csv")

In [21]:
features3_csv

,Test,Reference,Similarity,jaccard_once_keyword,jaccard_multi_keyword,tf_cosine_appearance,tfidf_cosine_appearance,tf_cosine_times,tfidf_cosine_times,Sim_Hash_Similarity,Min_Similarity
0,100,1002,0.133333,0.1,0.071429,0.133333,0.038855,0.123603,0.047808,0.33,0.000000
1,100,1003,0.066667,0.0,0.052632,0.115470,0.019133,0.099177,0.018642,0.26,0.164062
2,100,101,0.133333,1.0,0.105263,0.210819,0.106684,0.364363,0.144300,0.15,0.132812
3,100,1013,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.32,0.000000
4,100,1017,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.35,0.000000
...,...,...,...,...,...,...,...,...,...,...,...
175975,995,981,0.142857,0.0,0.045455,0.094491,0.022252,0.552917,0.210549,0.14,0.445312
175976,995,982,0.285714,0.1,0.100000,0.195180,0.100620,0.222871,0.072412,0.26,0.000000
175977,995,983,0.142857,0.0,0.100000,0.188982,0.055576,0.386444,0.129999,0.33,0.093750
175978,995,989,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.22,0.078125
175979,995,99,0.285714,0.5,0.222222,0.377964,0.308203,0.592711,0.332002,0.22,0.078125

In [22]:
# take only article pair orders
article_pairs = features3_csv[["Test", "Reference"]]
article_pairs

        Test  Reference
0        100       1002
1        100       1003
2        100        101
3        100       1013
4        100       1017
...      ...        ...
175975   995        981
175976   995        982
175977   995        983
175978   995        989
175979   995         99

[175980 rows x 2 columns]

In [23]:
# turn X3 features to frame
X3_df = pd.DataFrame(X3)
X3_df

,0,1,2,3,4,5,6,7,8,9,...,1524,1525,1526,1527,1528,1529,1530,1531,1532,1533
0,0.133333,0.071429,0.123603,0.047808,0.33,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.066667,0.052632,0.099177,0.018642,0.26,0.164062,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.133333,0.105263,0.364363,0.144300,0.15,0.132812,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.000000,0.000000,0.000000,0.000000,0.32,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.000000,0.000000,0.000000,0.000000,0.35,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
175975,0.142857,0.045455,0.552917,0.210549,0.14,0.445312,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
175976,0.285714,0.100000,0.222871,0.072412,0.26,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
175977,0.142857,0.100000,0.386444,0.129999,0.33,0.093750,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
175978,0.000000,0.000000,0.000000,0.000000,0.22,0.078125,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
175979,0.285714,0.222222,0.592711,0.332002,0.22,0.078125,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [24]:
# join the article times & similarity times features with article pairs
joined_df = pd.merge(article_pairs, X3_df, left_index=True, right_index=True)
joined_df

,Test,Reference,0,1,2,3,4,5,6,7,...,1524,1525,1526,1527,1528,1529,1530,1531,1532,1533
0,100,1002,0.133333,0.071429,0.123603,0.047808,0.33,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,100,1003,0.066667,0.052632,0.099177,0.018642,0.26,0.164062,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,100,101,0.133333,0.105263,0.364363,0.144300,0.15,0.132812,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,100,1013,0.000000,0.000000,0.000000,0.000000,0.32,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,100,1017,0.000000,0.000000,0.000000,0.000000,0.35,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
175975,995,981,0.142857,0.045455,0.552917,0.210549,0.14,0.445312,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
175976,995,982,0.285714,0.100000,0.222871,0.072412,0.26,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
175977,995,983,0.142857,0.100000,0.386444,0.129999,0.33,0.093750,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
175978,995,989,0.000000,0.000000,0.000000,0.000000,0.22,0.078125,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
175979,995,99,0.285714,0.222222,0.592711,0.332002,0.22,0.078125,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [4]:
# read in the best results
xgb_df = pd.read_csv("csv_results/3_XGBOOST.csv")
xgb_df

In [25]:
# join back features from the best csv result
final_df = pd.merge(xgb_df, joined_df, on=["Test", "Reference"], how="left")
final_df

,Test,Reference,0,1,2,3,4,5,6,7,...,1524,1525,1526,1527,1528,1529,1530,1531,1532,1533
0,101,487,0.833333,0.500000,0.786033,0.702454,0.21,0.125000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,101,496,0.833333,0.357143,0.707716,0.736986,0.24,0.093750,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,101,502,0.833333,0.263158,0.557571,0.534310,0.24,0.031250,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,101,53,0.833333,0.161290,0.731215,0.545087,0.22,0.046875,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,101,61,0.833333,0.161290,0.839138,0.688749,0.25,0.039062,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
967,995,842,1.000000,0.269231,0.525609,0.336379,0.24,0.203125,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
968,995,900,0.857143,0.666667,0.812839,0.768995,0.21,0.179688,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
969,995,914,1.000000,0.777778,0.918106,0.864806,0.27,0.085938,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
970,995,920,1.000000,0.875000,0.946510,0.921681,0.07,0.718750,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
971,995,974,1.000000,0.700000,0.817159,0.639370,0.25,0.101562,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [26]:
# get the numpy features of the best results 
X3_bests = final_df.copy()
del X3_bests["Test"]
del X3_bests["Reference"]
X3_bests_np = X3_bests.to_numpy()
X3_bests_np

array([[0.83333333, 0.5       , 0.78603278, ..., 0.        , 0.        ,
        0.        ],
       [0.83333333, 0.35714286, 0.7077163 , ..., 0.        , 0.        ,
        0.        ],
       [0.83333333, 0.26315789, 0.55757125, ..., 0.        , 0.        ,
        0.        ],
       ...,
       [1.        , 0.77777778, 0.91810605, ..., 0.        , 0.        ,
        0.        ],
       [1.        , 0.875     , 0.94651026, ..., 0.        , 0.        ,
        0.        ],
       [1.        , 0.7       , 0.81715884, ..., 0.        , 0.        ,
        0.        ]])

In [28]:
len(X3_bests_np[0])

1534

In [29]:
len(X3_bests_np)

972

In [31]:
# write to a numpy file
with open("X3_bests.npy", "wb") as f:
    np.save(f, X3_bests_np)

In [37]:
# read back the lightgbm results and change to dataframe
lgb_np = np.load("Y3_best.npy")
lgb_df = pd.DataFrame(lgb_np)
lgb_df = lgb_df.rename({0: 'Relevance'}, axis=1)
lgb_df

     Relevance
0          1.0
1          1.0
2          1.0
3          1.0
4          1.0
..         ...
967        1.0
968        0.0
969        1.0
970        1.0
971        1.0

[972 rows x 1 columns]

In [58]:
# join back lightgbm results with xgboost results & do the filtem
best_pairs = final_df[["Test", "Reference"]]
pipe_df = pd.merge(best_pairs, lgb_df, left_index=True, right_index=True)
pipe_df

     Test  Reference  Relevance
0     101        487        1.0
1     101        496        1.0
2     101        502        1.0
3     101         53        1.0
4     101         61        1.0
..    ...        ...        ...
967   995        842        1.0
968   995        900        0.0
969   995        914        1.0
970   995        920        1.0
971   995        974        1.0

[972 rows x 3 columns]

In [42]:
pipe_df.loc[pipe_df['Relevance'] == 1][['Test', 'Reference']].to_csv("csv_results/xgb3_lgbm4_pipe.csv", index=False)

In [7]:
pd.read_csv("lgbm_model_4.csv")

     Test  Reference
0     101       1043
1     101        323
2     101        487
3     101        496
4     101        502
..    ...        ...
733   995        837
734   995        842
735   995        914
736   995        920
737   995        974

[738 rows x 2 columns]